[submodule "frontend"]
	path = frontend
	url = https://github.com/choudharymanisha/StreamingApp-Frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/choudharymanisha/StreamingApp-Backend.git
